AddDefaultCharset utf-8

# Настройка маршрутизации
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]

# Файлы с точкой в начале не доступны через браузер
RewriteCond %{REQUEST_FILENAME} \/\.
RewriteRule (.*) [L,F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ vendor/infrajs/router/index.php [L,QSA]



# Для статических файлов кэш на 1 неделю (604800 сек)
<FilesMatch "\.(woff|jpeg|jpg|png|gif|tpl|ico|js|json|html|webp)$">
    Header set Cache-Control "max-age=604800, private"
</FilesMatch>

# Архивировать данные на сервере перед передачей их в браузер
<ifModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript application/json application/vnd.groove-tool-template
</ifModule>
